<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>SellingCar Info</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          판매 차량 리스트
        </div>

        <div class="card-body">

          <form action="/sellingCar/list" method="get" id="f2">

            <div  class="row mt-3">
              <div class="col">

                <div class="input-group w-25">
                  <label class="input-group-text" for="typeExt">판매 타입</label>
                    <select class="form-select" id="typeExt">
                      <option value="">-----</option>
                      <option value="a" th:selected="${pageRequestDto.typeExt == 'a'}">경매</option>
                      <option value="c" th:selected="${pageRequestDto.typeExt == 'c'}">상담</option>
                      <option value="ac" th:selected="${pageRequestDto.typeExt == 'ac'}">경매,상담</option>
                    </select>
                </div>
                <div class="input-group w-50">
                  <label class="input-group-text" for="yearsMinSelect">
                    <a class= "updateAddress"  href="#" onclick="clickSelectBoxCarYears()">연식</a>
                  </label>
                  <div class="carYearsDiv" style="display: none;" >
                    <input type="hidden" class="form-control isCarYearsSelect" th:value="hidden">
                      <label style="width: 100px" for="yearsMinSelect">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                id="yearsMinSelect"
                                th:with="endYear= ${#calendars.format(#calendars.createNow(),'yyyy')}, startYear=2000">
                          <option selected th:value="${startYear}">최소</option>
                          <option th:each="i, stat: ${#numbers.sequence( startYear, endYear)}" th:value="${i}"
                                  th:selected="${pageRequestDto.carYearsMin == i}">[[${i}]]년</option>
                        </select>
                      </label>

                      <span class="selectTilde">~</span>

                      <label style="width: 100px" for="yearsMaxSelect">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                id="yearsMaxSelect"
                                th:with="endYear= ${#calendars.format(#calendars.createNow(),'yyyy')}, startYear=2000">
                          <option selected th:value="${endYear}">최대</option>
                          <option th:each="i, stat: ${#numbers.sequence( startYear, endYear)}" th:value="${i}"
                                  th:selected="${pageRequestDto.carYearsMax == i}">[[${i}]]년</option>
                        </select>
                      </label>
                  </div>
                </div>

                <div class="input-group">
                  <label class="input-group-text">차량 종류</label>
                  <select class="form-select carTypeGroup1 carTypeSelect">
                    <option value="">제조사</option>
<!--                    <option value="a" th:selected="${pageRequestDto.typ1eExt == 'a'}">국산</option>-->
<!--                    <option value="c" th:selected="${pageRequestDto.typ1eExt == 'c'}">수입</option>-->
                  </select>
                  <select class="form-select carTypeGroup2 carTypeSelect">
                    <option value="">-----</option>
                  </select>
                  <select class="form-select carTypeGroup3 carTypeSelect">
                    <option value="">-----</option>
                  </select>
                  <select class="form-select carTypeGroup4 carTypeSelect">
                    <option value="">-----</option>
                  </select>
                </div>

                <div class="input-group-append">
                  <button class="btn btn-primary searchBtn" type="submit">검색</button>
                  <button class="btn btn-secondary clearBtn" type="button">선택 초기화</button>
                </div>

              </div>
            </div>
          </form>

          <div class="row mt-3">
            <table id="tableSellingCar1" style="margin-left: 50px">
              <thead>
              <tr>
                <th scope="col">차량 항목</th>
                <th scope="col">모델명</th>
                <th scope="col">트림</th>
                <th scope="col">연료 타입</th>
                <th scope="col">연식</th>
                <th scope="col">km</th>
                <th scope="col">희망 가격</th>
                <th scope="col">판매 종료 시간</th>
              </tr>
              </thead>
              <tbody id="tableSellingCar">
              </tbody>
            </table>
            <!-- 페이지 번호 출력-->
            <div class="float-start">
              <ul class="pagination flex-wrap">
              </ul>
            </div>
            <!-- 페이지 번호 출력-->
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/myInfo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/utilViewHtml.js"></script>
  <script src="/js/buyingCar.js"></script>
  <script src="/js/reference.js"></script>
  <script src="/js/sellingCar.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  const typeExt = document.getElementById("typeExt")
  const yearsMinSelect = document.getElementById("yearsMinSelect")
  const yearsMaxSelect = document.getElementById("yearsMaxSelect")

  const carYearsDiv = document.querySelector(".carYearsDiv")
  const isCarYearsSelect = document.querySelector(".isCarYearsSelect")

  const tableSellingCar = document.getElementById("tableSellingCar");
  const pagination = document.querySelector(".pagination");

  let arrayCarTypeGroup = [];
  arrayCarTypeGroup.push(document.querySelector(".carTypeGroup1"));
  arrayCarTypeGroup.push(document.querySelector(".carTypeGroup2"));
  arrayCarTypeGroup.push(document.querySelector(".carTypeGroup3"));
  arrayCarTypeGroup.push(document.querySelector(".carTypeGroup4"));

  const sellingCarViewCount = 3    // 한번에 보여줄 차량 갯수

  // 최초 페이지 로딩
  pageInit([[${#authorization.expression('isAuthenticated()')}]])

  // 차 선택 메뉴 항목 list 가져오기
  setListRefCarType()

  // 차량 명 으로 검색 했을때
  const requestType = [[${pageRequestDto.type}]]
  const requestKeyword = [[${pageRequestDto.keyword}]]    // 차량 명

  const formObj = new FormData();
  if(requestType != null && requestKeyword != null){
    formObj.append("type", requestType.toString());
    formObj.append("keyword", requestKeyword.toString());
  }

  // 판매 차량 list 가져오기
  updateListSellingCar(1, formObj)


  // Search 파일 클릭
  document.querySelector(".searchBtn").addEventListener("click", function(e){
    e.stopPropagation()
    e.preventDefault()

    updateListSellingCar(1)

  }, false)

  // 페이지 버튼 클릭 이벤트 begin ------------------
  document.querySelector(".pagination").addEventListener("click", function(e){
    e.preventDefault()  // a태그 나 submit태그의 고유 동작을 중단
    e.stopPropagation() // 상위 엘리먼트들로의 이벤트 전파를 중단시킨다.

    const target = e.target   // a 태그
    if(target.tagName !== 'A'){
      return
    }
    const num = target.getAttribute("data-page")

    updateListSellingCar(num)

  }, false)

  function updateListSellingCar(page, addFormObj){

    const formObj = {
      page:page,
      size:sellingCarViewCount,
      carYearsMin:yearsMinSelect.value,
      carYearsMax:yearsMaxSelect.value,
      typeExt: typeExt.value,
      typeGroup1:arrayCarTypeGroup[0].value,
      typeGroup2:arrayCarTypeGroup[1].value,
      typeGroup3:arrayCarTypeGroup[2].value,
      typeGroup4:arrayCarTypeGroup[3].value,
    }

    if(addFormObj != null){
      Object.assign(formObj, {
        type:addFormObj.get('type'),
        keyword:addFormObj.get('keyword'),
      });
    }

    getListSellingCar(formObj).then(data=> {

      printSellingCarList(data.dtoList)                // 목록 처리
      printPages(data, pagination)

    }).catch(e=>{
      console.error(e)
    })
  }

  function printSellingCarList(dtoList){

    let content = '';
    if(dtoList && dtoList.length > 0){
      for(const dto of dtoList){

        const requiredPrice = makePriceCurrency(dto.requiredPrice)
        const carKm = makeComma(dto.carKm)

        content += `<tr class="memList">`;
        content += `  <th scope="row" class="col-md-3">`

        content += `<a href="/sellingCar/view/${dto.sellingCarId}" class="text-decoration-none">${dto.carNumber}`
        if(dto.sellingCarStatus === 'PROCESSING' && dto.expired === false){
          content += `&nbsp;<span class="badge progress-bar-success" style="background-color: #0a53be">판매 중</span>`
        }
        if(dto.sellingCarStatus === 'PROCESSING' && dto.expired === true){
          content += `&nbsp;<span class="badge progress-bar-success" style="background-color: #bb2d3b">판매 완료</span>`
        }
        if(dto.sellType === 'SELL_AUCTION') {
          content += `<span class="badge progress-bar-success" style="background-color: #611adb">경매</span>`
        }
        if(dto.sellType === 'SELL_CONSULT') {
          content += `<span class="badge progress-bar-success" style="background-color: #0dd52e">상담</span>`
        }
        content += `</a>`

        if(dto.mainImage !== null){
          content += `<div><img src="/view/carImage/${dto.mainImage.uuid}_${dto.mainImage.fileName}" width=150`
          content += `        th:data-src="${dto.mainImage.uuid}" onclick="window.open(this.src)"></div>`
        }
        content += `  </th>`
        content += `<td>${dto.carDetailModel}</td>`
        content += `<td>${dto.carTrimName}</td>`
        content += `<td>${dto.carFuelType}</td>`
        content += `<td>${dto.carYears}년형</td>`
        content += `<td>${carKm}km</td>`
        content += `<td>${requiredPrice}</td>`
        content += `<td>${dto.expiredDate}</td>`
        content += `</tr>`;
      }
    }

    tableSellingCar.innerHTML = content
  }


  document.querySelector(".clearBtn").addEventListener("click", function(e){
    e.preventDefault()
    e.stopPropagation()

    self.location = '/sellingCar/list' // 자바스크립트로 다른 url 호출

  },false)


  document.querySelectorAll(".carTypeSelect").forEach(function (item,idx){
    item.addEventListener('change', function(e){
      e.preventDefault()
      e.stopPropagation()

      const parentMenuName = item.options[item.selectedIndex].innerText;

      console.log('change!!!!!!!!!!!!! : ' + item + ', ' + idx + ', ' + parentMenuName)

      if(parentMenuName === '제조사'){
        initCarTypeMenu(arrayCarTypeGroup[1])
        initCarTypeMenu(arrayCarTypeGroup[2])
        initCarTypeMenu(arrayCarTypeGroup[3])
      }
      else if(parentMenuName === '-----'){
        if(idx === 1){
          initCarTypeMenu(arrayCarTypeGroup[2])
          initCarTypeMenu(arrayCarTypeGroup[3])
        }
        else if(idx === 2){
          initCarTypeMenu(arrayCarTypeGroup[3])
        }
      }
      else{
        setListRefCarType(idx + 1, parentMenuName)
      }
    });
  }, false)

  // 차량 선택 selectbox 메뉴 항목 채우기
  function setListRefCarType(groupIndex = 0, parentMenuName= ''){

    getListRefCarType({groupIndex, parentMenuName}).then(data=> {
      printListRefCarType(groupIndex, data, arrayCarTypeGroup[groupIndex])                // 목록 처리
    }).catch(e=>{
      console.error(e)
    })
  }
  // 차량 선택 selectbox 메뉴 항목 초기화
  function initCarTypeMenu(tag){

    let option = document.createElement('option')
    option.innerText = '-----'
    option.setAttribute('value','')

    tag.options.length = 0;
    tag.append(option);
  }

  // 차량 선택 selectbox 메뉴 항목 지정
  function printListRefCarType(groupIndex, dtoList, tag){

    if(dtoList && dtoList.length > 0){

      arrayCarTypeGroup[3].options.length = 1;
      if(groupIndex <= 2){
        arrayCarTypeGroup[2].options.length = 1;
      }
      if(groupIndex <= 1){
        arrayCarTypeGroup[1].options.length = 1;
      }
      if(groupIndex === 0){
        arrayCarTypeGroup[0].options.length = 1;
      }

      for(const dto of dtoList){
        setCarTypeMenu(groupIndex, tag, dto)
      }
    }
  }

  // 차량 선택 selectbox 메뉴 항목 지정
  function setCarTypeMenu(groupIndex, tag, dto){

    let option = document.createElement('option')
    option.innerText = dto.typeName

    tag.append(option);
  }

  // 차량 연식 선택 화면 뷰 on/off
  function clickSelectBoxCarYears(){
    if( isCarYearsSelect.getAttribute("value") === 'hidden'){
      carYearsDiv.setAttribute("style","display:block");
      isCarYearsSelect.setAttribute("value", "show");
    }
    else{
      carYearsDiv.setAttribute("style","display:none");
      isCarYearsSelect.setAttribute("value", "hidden");
    }
  }


</script>