<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>SellingCar Info</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          판매 차량 리스트
        </div>

        <div class="card-body">

          <form action="/sellingCar/list" method="get" id="f2">

            <div  class="row mt-3">
              <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestDto.size}">

                <div class="input-group w-25">
                  <label class="input-group-text" for="typeSelect">판매 타입</label>
                    <select class="form-select" id="typeSelect" name="typeExt" >
                      <option value="">-----</option>
                      <option value="a" th:selected="${pageRequestDto.typeExt == 'a'}">경매</option>
                      <option value="c" th:selected="${pageRequestDto.typeExt == 'c'}">상담</option>
                      <option value="ac" th:selected="${pageRequestDto.typeExt == 'ac'}">경매,상담</option>
                    </select>
                </div>
                <div class="input-group w-50">
                  <label class="input-group-text" for="yearsMinSelect">
                    <a class= "updateAddress"  href="#" onclick="clickSelectBoxCarYears()">연식</a>
                  </label>
                  <div class="carYearsMinDiv" style="display: none;" >
                    <input type="hidden" class="form-control isCarYearsSelect" th:value="hidden">
                      <label style="width: 100px" for="yearsMinSelect">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                id="yearsMinSelect" name="carYearsMin"
                                th:with="endYear= ${#calendars.format(#calendars.createNow(),'yyyy')}, startYear=2000">
                          <option selected th:value="${startYear}">최소</option>
                          <option th:each="i, stat: ${#numbers.sequence( startYear, endYear)}" th:value="${i}"
                                  th:selected="${pageRequestDto.carYearsMin == i}">[[${i}]]년</option>
                        </select>
                      </label>

                      <span class="selectTilde">~</span>

                      <label style="width: 100px" for="yearsMaxSelect">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                id="yearsMaxSelect" name="carYearsMax"
                                th:with="endYear= ${#calendars.format(#calendars.createNow(),'yyyy')}, startYear=2000">
                          <option selected th:value="${endYear}">최대</option>
                          <option th:each="i, stat: ${#numbers.sequence( startYear, endYear)}" th:value="${i}"
                                  th:selected="${pageRequestDto.carYearsMax == i}">[[${i}]]년</option>
                        </select>
                      </label>
                  </div>
                </div>

                <div class="input-group ">
                  <label class="input-group-text" for="typeSelect">차량 종류</label>
                  <select class="form-select carGroup1" id="typeSelect1" name="typeEx1" >
                    <option value="">제조사</option>
<!--                    <option value="a" th:selected="${pageRequestDto.typeExt == 'a'}">국산</option>-->
<!--                    <option value="c" th:selected="${pageRequestDto.typeExt == 'c'}">수입</option>-->
                  </select>
                  <select class="form-select carGroup2" id="typeSelect2" name="typeExt1" >
                    <option value="">-----</option>
                  </select>
                  <select class="form-select carGroup3" id="typeSelect3" name="typeExt1" >
                    <option value="">-----</option>
                  </select>
                  <select class="form-select carGroup4" id="typeSelect4" name="typeExt1" >
                    <option value="">-----</option>
                  </select>
                </div>

                <div class="input-group w-25">
                  <label>
                    <select class="form-select" name="type">
                      <option value="">-----</option>
                      <option value="m" selected th:selected="${pageRequestDto.type == 'm'}">모델명</option>
<!--                      <option value="y" th:selected="${pageRequestDto.type == 'y'}">연식</option>-->
<!--                      <option value="my" th:selected="${pageRequestDto.type == 'my'}">모델명,연식</option>-->
                    </select>
                  </label>
                  <input type="text" class="form-control" name="keyword" th:value="${pageRequestDto.keyword}">
                </div>

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                  <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
                </div>

              </div>
            </div>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">차량 항목</th>
                <th scope="col">모델명</th>+
                <th scope="col">연식</th>
                <th scope="col">희망 가격</th>
                <th scope="col">판매 종료 시간</th>
              </tr>
              </thead>

              <tbody>
              <tr th:each="dto:${responseDTO.dtoList}">
                <th scope="row">
                  <a th:href="|@{'/sellingCar/view/' + ${dto.sellingCarId}}|"
                     class="text-decoration-none">[[${dto.carNumber}]]
                    <span class="badge progress-bar-success"
                          th:if="${#strings.equals(dto.sellingCarStatus.value, '1') and !dto.isExpired()}"
                          style="background-color: #0a53be">[[${dto.sellingCarStatus.name}]]</span>
                    <span class="badge progress-bar-success"
                          th:if="${!#strings.equals(dto.sellingCarStatus.value, '1') or dto.isExpired()}"
                          style="background-color: #bb2d3b">판매 종료</span>

                    <span class="badge progress-bar-success" th:if="${#strings.equals(dto.sellType, 'SELL_AUCTION')}"
                          style="background-color: #611adb">[[${dto.sellType.typeName}]]</span>
                    <span class="badge progress-bar-success" th:if="${#strings.equals(dto.sellType, 'SELL_CONSULT')}"
                          style="background-color: #0dd52e">[[${dto.sellType.typeName}]]</span>
                  </a>
                  <div>
                    <img th:src="|/view/carImage/${dto.mainImage.uuid}_${dto.mainImage.fileName}|" th:width="150"
                         th:data-src="${dto.mainImage.uuid}" onclick="window.open(this.src)">
                  </div>
                </th>
                <td>[[${dto.carModel}]]</td>
                <td>[[${dto.carYears}]]년형</td>
                <td>[[${#numbers.formatInteger(dto.requiredPrice,3,'COMMA')}]]원</td>
                <td>[[${#temporals.format(dto.expiredDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
              </tr>
              </tbody>
            </table>
          </form>
          <div class="float-end">
            <ul class="pagination flex-wrap">

              <li class="page-item" th:if="${responseDTO.prev}">
                <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
              </li>

              <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item' ">
                  <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                </li>
              </th:block>

              <li class="page-item" th:if="${responseDTO.next}">
                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
              </li>

            </ul>
          </div>

        </div><!-- <div class="card-body">-->
      </div>
    </div>
  </div>

  <!--    axios 라이브러리 추가-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/myInfo.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/utilViewHtml.js"></script>
  <script src="/js/buyingCar.js"></script>
  <script src="/js/reference.js"></script>

</div> <!--<div layout:fragment="content">-->

<script layout:fragment="script" th:inline="javascript">

  const carYearsMinDiv = document.querySelector(".carYearsMinDiv")
  const isCarYearsSelect = document.querySelector(".isCarYearsSelect")

  const carGroup1 = document.querySelector(".carGroup1")
  const carGroup2 = document.querySelector(".carGroup2")
  const carGroup3 = document.querySelector(".carGroup3")
  const carGroup4 = document.querySelector(".carGroup4")

  // 최초 페이지 로딩
  pageInit([[${#authorization.expression('isAuthenticated()')}]])

  // 차 선택 종류 list 가져오기
  setListRefCarType(0, 0)


  // 경매 현황 가져오기
  function setListRefCarType(groupNumber, parentTypeId){

    console.log('setListRefCarType : groupNumber : ' + groupNumber + ',parentTypeId: ' + parentTypeId)

    getListRefCarType({groupNumber, parentTypeId}).then(data=> {

      console.log(data)

      printListRefCarType(groupNumber, data)                // 목록 처리


    }).catch(e=>{
      console.error(e)
    })
  }

  // const subOptions= {
  //   국산 : ['현대', '기아', 'KGM'],
  //   수입 : ['벤츠', 'BMW', '테슬라']
  // }

  carGroup1.onchange = function(){
    const mainOption = carGroup1.options[carGroup1.selectedIndex].innerText;
    const menuTypeId = carGroup1.options[carGroup1.selectedIndex].getAttribute('menuTypeId');

    console.log('carGroup1 change : ' + mainOption)

    if(mainOption === '제조사'){
      carGroup2.options.length = 0;
      carGroup3.options.length = 0;

      var option = document.createElement('option')
      option.innerText = '-----'
      carGroup2.append(option);
      var option1 = document.createElement('option')
      option1.innerText = '-----'
      option1.selected

      carGroup3.append(option1);
    }
    else{
      setListRefCarType(1, menuTypeId)
    }

  }

  carGroup2.onchange = function(){
    const mainOption = carGroup2.options[carGroup2.selectedIndex].innerText;
    const menuTypeId = carGroup2.options[carGroup2.selectedIndex].getAttribute('menuTypeId');

    console.log('onchange() menuTypeId : ' + menuTypeId)
    setListRefCarType(2, menuTypeId)
  }

  carGroup3.onchange = function(){
    const mainOption = carGroup3.options[carGroup3.selectedIndex].innerText;
    const menuTypeId = carGroup3.options[carGroup3.selectedIndex].getAttribute('menuTypeId');

    console.log('onchange() menuTypeId : ' + menuTypeId)
    setListRefCarType(3, menuTypeId)
  }


  function printListRefCarType(groupNumber, dtoList){

    if(dtoList && dtoList.length > 0){
      if(groupNumber === 0){
        carGroup1.options.length = 1;
        carGroup2.options.length = 1;
        carGroup3.options.length = 1;

        for(const dto of dtoList){
          var option = document.createElement('option')
          option.innerText = dto.typeName
          option.setAttribute('menuTypeId', dto.typeId)
          carGroup1.append(option);
        }
      }

      if(groupNumber === 1){
        carGroup2.options.length = 1;
        carGroup3.options.length = 1;

        for(const dto of dtoList){
          var option = document.createElement('option')
          option.innerText = dto.typeName
          option.setAttribute('menuTypeId', dto.typeId)
          carGroup2.append(option);
        }
      }
      else if(groupNumber === 2){
        carGroup3.options.length = 1;
        carGroup4.options.length = 1;

        for(const dto of dtoList){
          var option = document.createElement('option')
          option.innerText = dto.typeName
          option.setAttribute('menuTypeId', dto.typeId)
          carGroup3.append(option);
        }
      }
      else if(groupNumber === 3){
        carGroup4.options.length = 1;

        for(const dto of dtoList){
          var option = document.createElement('option')
          option.innerText = dto.typeName
          option.setAttribute('menuTypeId', dto.typeId)
          carGroup4.append(option);
        }
      }

    }
  }




  function clickSelectBoxCarYears(){
    if( isCarYearsSelect.getAttribute("value") === 'hidden'){
      carYearsMinDiv.setAttribute("style","display:block");
      isCarYearsSelect.setAttribute("value", "show");
    }
    else{
      carYearsMinDiv.setAttribute("style","display:none");
      isCarYearsSelect.setAttribute("value", "hidden");
    }
  }

  document.querySelector(".pagination").addEventListener("click", function(e){
    e.preventDefault()  // a태그 나 submit태그의 고유 동작을 중단
    e.stopPropagation() // 상위 엘리먼트들로의 이벤트 전파를 중단시킨다.

    const target = e.target   // a 태그
    if(target.tagName !== 'A'){
      return
    }

    const num = target.getAttribute("data-num")
    const formObj = document.querySelector("#f2")

    formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
    formObj.submit();

  }, false)

  document.querySelector(".clearBtn").addEventListener("click", function(e){
    e.preventDefault()
    e.stopPropagation()

    self.location = '/sellingCar/list' // 자바스크립트로 다른 url 호출

  },false)

</script>